<mat-toolbar>
  <span>Dash like a hog</span>
  <span class="spacer"></span>
  <a routerLink="/users" routerLinkActive="active" mat-button>
  Users
  </a>
  <a routerLink="/specializations" routerLinkActive="active" mat-button>
    Specializations
  </a>
  <a routerLink="/currencies" routerLinkActive="active" mat-button>
    Currencies
  </a>
  <a routerLink="/tasks" routerLinkActive="active" mat-button>
    Tasks
  </a>
  <a routerLink="/contracts" routerLinkActive="active" mat-button>
    Contracts
  </a>

</mat-toolbar>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
