<div class="users">
  <button (click)="createCurrency()" color="primary" mat-icon-button class="add">
    <mat-icon>control_point</mat-icon>
  </button>
  <table [dataSource]="currencies" class="table" mat-table>
    <!-- Position Column -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>Name</th>
      <td *matCellDef="let element" mat-cell>{{element.name}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="currencyToUsd">
      <th *matHeaderCellDef mat-header-cell>Currency to USD</th>
      <td *matCellDef="let element" mat-cell>{{element.currencyToUsd}}</td>
    </ng-container>


    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>Actions</th>
      <td *matCellDef="let element" mat-cell>
        <div class="actions">
          <a></a>
          <button color="primary" mat-icon-button>
            <mat-icon (click)="openEditor(element)">border_color</mat-icon>
          </button>
          <button color="primary" mat-icon-button>
            <mat-icon (click)="onDelete(element)">delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr
      *matRowDef="let row; columns: displayedColumns;"
      mat-row
    ></tr>
  </table>
</div>


